/* nav .navbar-nav .nav-item .nav-link{
    color: grey !important;
} */

.nav-link {
    color: grey !important;
    cursor: pointer;    
}

.submit_button {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.staff-link {
    margin: 15px;
}

#add_new_route {
    display: none;
}

#edit_route {
    display: none;
}

#download_score {
    display: none;
}

#do_something {
    display: none;
}