
{% extends "capstone/layout.html" %}
{% load static %}

{% block body %}
<div class="container">
    <h2>What would you like to do?</h2><br>
    
    <nav class="nav justify-content-center">
        <div class="staff-link"><a id="add_new_route_button" class="nav-link">Add new route</a></div>
        <div class="staff-link"><a id="edit_route_button" class="nav-link">Edit route</a></div>
        <div class="staff-link"><a id="download_score_button" class="nav-link">Download scores</a></div>
        <div class="staff-link"><a id="do_something_button" class="nav-link">Do Something</a></div>
    </nav><hr>


    <div id="add_new_route">
        
        <h4 align="right">Add new route</h4>

        <form action="{% url 'add_route' %}" method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label name="" class="form-label">Route name</label>
                <textarea name="form_route_name" class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
            </div>
        
            <label class="form-label">Route grade</label>
            <select name="form_route_grade" class="form-select" aria-label="Default select example">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4a">4a</option>
                <option value="4b">4b</option>
                <option value="4c">4c</option>
                <option value="5a">5a</option>
                <option value="5b">5b</option>
                <option value="5c">5c</option>
                <option value="6a">6a</option>
                <option value="6a+">6a+</option>
                <option value="6b">6b</option>
                <option value="6b+">6b+</option>
                <option value="6c">6c</option>
                <option value="6c+">6c+</option>
                <option value="7a">7a</option>
                <option value="7a+">7a+</option>
                <option value="7b">7b</option>
                <option value="7b+">7b+</option>
                <option value="7c">7c</option>
                <option value="7c+">7c+</option>
                <option value="8a">8a</option>
                <option value="8a+">8a+</option>
                <option value="8b">8b</option>
                <option value="8b+">8b+</option>
                <option value="8c">8c</option>
                <option value="8c+">8c+</option>
                <option value="9a">9a</option>
                <option value="9a+">9a+</option>
                <option value="9b">9b</option>
                <option value="9b+">9b+</option>
                <option value="9c">9c</option>
               </select>

              <br>
              <div class="submit_button">
                <input class="btn btn-success" type="submit" value="Add route">
              </div>
              
        </form>

    </div>

    <div id="edit_route">        
        <h4 align="right">Edit route</h4>
    </div>

    <div id="download_score">
        <h4 align="right">Download scores</h4>
    </div>

    <div id="do_something">
        <h4 align="right">Do something</h4>
    </div>
</div>

    {% block script %}
    <script src="{% static 'capstone/scripts.js' %}"></script>
    {% endblock %}

{% endblock %}