
{% extends "capstone/layout.html" %}
{% load static %}

{% block body %}
<div class="container">
    <h2>What would you like to do?</h2><br>
    
    <nav class="nav justify-content-center">
        <div class="staff-link"><a id="add_new_route_button" class="nav-link">Add new route</a></div>
        <div class="staff-link"><a id="edit_route_button" class="nav-link">Edit route</a></div>
        <div class="staff-link"><a id="download_score_button" class="nav-link">Download scores</a></div>
        <div class="staff-link"><a id="do_something_button" class="nav-link">Do Something</a></div>
    </nav><hr>


    <div id="add_new_route">add new route</div>

    <div id="edit_route">edit route</div>

    <div id="download_score">download scores</div>

    <div id="do_something">do something</div>
</div>

    {% block script %}
    <script src="{% static 'capstone/scripts.js' %}"></script>
    {% endblock %}

{% endblock %}