
{% extends "ClimbingApp/layout.html" %}

{% block body %}
<div class="container">
    <h2>update profile</h2>
    <br><br>

    <form action="{% url 'update_profile' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="form_profile_name" value="{{request.user}}">
        <input type="hidden" name="profile_active" value="{{True}}">
        <input type="hidden" name="profile_is_staff" value="{{False}}">

        <div class="form-group">
            <label>gender</label>
            <select class="form-control" name="form_profile_gender">
              <option>Male</option>
              <option>Female</option>
            </select>
          </div><br>

        <div class="form-group">
            <label>birthday</label>
            <input class="form-control" type="date" name="form_profile_birth" placeholder="datepicker">
        </div><br>

        <table style="width: auto; float: right;">
            <tr>
                <td align="center">
                    <input class="btn btn-success" type="submit" value="Submit">
                </td>
            </tr>
        </table>

    </form>
</div>
{% endblock %}